@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}
body {
    background-color: #927b6078;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

/* header */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /* background-color: #ffffff; */
    background-color: #927b6078;
}
.foto-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}
.dados-perfil h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-weight: 400;
    font-size: 4.5rem;
    padding: 10px 0;
}
.dados-perfil h3 {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 10px 0;
}
.redes-sociais-perfil {
    display: flex;
}
.redes-sociais-perfil img {
    width: 35px;
    height: 35px;
    margin: 20px 20px 0 0;
    padding: 5px;
    border-radius: 5px;
}
.redes-sociais-perfil img.linkedin:hover {
    background-color: #0076b5;
    transition: 1.2s;
}
.redes-sociais-perfil img.instagram:hover {
    background: #c52f7e;
    transition: 1.2s;
}

.contato-perfil a button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #dc8e61;
    color: #ffffff;
    font-weight: bold;
}
.contato-perfil a button:hover {
    background-color: #c5703f;
    transition: 1.2s;
    cursor: pointer;
}
/* Responsividade  header*/
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .foto-perfil, .dados-perfil, .redes-sociais-perfil, .contato-perfil {
        margin-bottom: 15px;
        justify-content: center;
    }
    .dados-perfil h1 {
        font-size: 3rem;
    }
}

/* Section .dados-gerais */
.dados-gerais {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 250px;
    padding: 20px;
}

/* .dados-gerais .container-left */
.dados-gerais .container-left {
    flex-basis: 60%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-right: 5px;
}
.sobre-mim {
    display: flex;
    flex-direction: column;
}
.sobre-mim h1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
.sobre-mim p {
    text-align: justify;
    line-height: 25px;
}

/* .dados-gerais .container-right */
.dados-gerais .container-right {
    flex-basis: 25%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-left: 5px;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.links .item-icone {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #414141;
}
.links .item-icone img {
    width: 35px;
    height: 35px;
    background-color: #dc8e61;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.links .item-icone a {
    color: #414141;
    text-decoration: none;
    font-weight: bold;
}
.links .item-icone a:hover {
    font-style: oblique;
}

/* Responsividade  dados-gerais*/
@media (max-width: 700px) {
    .dados-gerais {
        margin-top: 550px;
        flex-direction: column;
        align-items: center;
    }
    .container-left, .container-right{
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    
    }
 
}

/* Section.dados-projetos */
.dados-projetos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 5px; */
    padding: 20px;
    justify-content: space-evenly;

}
.projetos {
    flex-basis: 55%;
    height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
}
.projetos h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.projetos h3 {
    margin-bottom: 10px;
}
.conteudo-projetos .descricao-projeto{
display: flex;
}
.conteudo-projetos .descricao-projeto img {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
button.btn {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 15px;
    margin-left: -85px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #ff8080;
    cursor: pointer;
}
button.btn:hover {
    opacity: 70%;
}
.conteudo-projetos .descricao-projeto img.img-imc {
    width: 50%;
    display: flex;
    padding: 10px;
}

/*  .habilidades */
.habilidades {
    flex-basis: 35%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-left: 5px;
}

.habilidades h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.habilidades p {
    margin-bottom: 20px;
    font-weight: bold;
}
.item-habilidades .item-linguagens {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.item-habilidades .item-linguagens img {
    width: 30px;
}
#icone-css {
    width: 45px;
}
.porcentagem {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    background: #dc8e61;
    border-radius: 50px;
}
.porcentagem100 {
    width: 100%;
}

.porcentagem90 {
    width: 90%;
}

.porcentagem80 {
    width: 80%;
}
.porcentagem70 {
    width: 70%;
}

.porcentagem60 {
    width: 60%;
}

.porcentagem50 {
    width: 50%;
}

.porcentagem40 {
    width: 40%;
}

.porcentagem30 {
    width: 30%;
}

.porcentagem20 {
    width: 20%;
}

.porcentagem10 {
    width: 10%;
}

/* Responsividade  .dados-projetos*/
@media (max-width: 700px) {
    .dados-projetos {
        flex-direction: column;
        align-items: center;
    }
    .projetos{
        flex-basis: 100%;
        margin-bottom: 20px;    
    }
    button.btn {
        width: 10%;
        font-size: 5px;
        margin-left: -60px;
    }
 
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    font-style: oblique;
}
